<html>
    <head>
        
        <title>deepfake detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"rel="stylesheet">
  </head>
    <body>
        
        <section class="header" style="background-image: url('static/images/image2.jpg')">
           <nav>
      <div class="nav-links">
        <ul>
          <li><a href="{{ url_for('main') }}">HOME</a></li>
          <li><a href="{{ url_for('image') }}">IMAGE</a></li>
          <li><a href="{{ url_for('Video') }}">VIDEO</a></li>
          
          
        </ul>
      </div>
    </nav>
    <div class="content">
      <h1 style="color: #ff1616;">DEEPFAKE DETECTION</h1>
      <form class="form" action="/upload_image" method="post">
        <div>
        <button type="submit" class="btn"><h2>IMAGE</h2> </button>
        </div>
        </form>

        <form class="form" action="/upload_video" method="post">
            <div>
            <button type="submit" class="btn"><h2>VIDEO</h2> </button>
            </div>
            </form>
   
</section>
    </body>
    </html>