<html>
    <head>
        
        <title>deepfake detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"rel="stylesheet">
  </head>
    <body>
        
        <section class="header" style="background-image: url('static/images/image1.jpg')">
           <nav>
      <div class="nav-links">
        <ul>
          <li><a href="{{ url_for('main') }}">HOME</a></li>
          <li><a href="{{ url_for('login') }}">LOGIN</a></li>
          <li><a href="{{ url_for('registration') }}">REGISTRATION</a></li>
          
        </ul>
      </div>
    </nav>
    <div class="content">
      <h1>DEEPFAKE DETECTION</h1>
      <h6 >A deepfake is a digitally forged image or video of a person<br>  that makes them appear to be someone else</h6>
    <div>
    </div> 
           <br>
           <br>
           <br>
  
   
</section>
    </body>
    </html>